<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="public/stylesheets/font_spider.css")
	body
		p sdkvnkjdfn 这是中文+这是加的文字

		h1 让创意得到赞赏+这是加的文字
	