* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "SourceHanSans-ExtraLight";
  src: url("../font/SourceHanSansK-ExtraLight.ttf");
  src: url("../font/SourceHanSansK-ExtraLight.woff");
}
@font-face {
  font-family: "jiangnan";
  src: url("../font/jiangnan.ttf");
  src: url("../font/jiangnan.woff");
}
@font-face {
  font-family: "py";
  src: url("../font/py.ttf");
  src: url("../font/py.woff");
}
p {
  font-family: "SourceHanSans-ExtraLight";
}

h1 {
  font-family: "py";
}
